doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main="javascripts/application/bootstrap" src="javascripts/libs/require/require.min.js")
  body
    block content
